/.vscode
/KCK_Projekt_I_Rafał_Ciupek.zip
/KomunikacjaCzłowiek-Komputer-projekt-I-dokumentacja.docx
/KomunikacjaCzłowiek-Komputer-projekt-I-dokumentacja.pdf
/~$munikacjaCzłowiek-Komputer-projekt-I-dokumentacja.docx
/~WRL0814.tmp